.create {

    &__content {
        padding: 6.25rem;
        position: relative;

        >h1 {
            width: 73%;
            text-transform: uppercase;
        }

        >p {
            line-height: 1.7;
        }

        >a {
            color: $white;
        }


        > img {
            width: 60px;
            height: 14px;
            margin-left: 0.7rem;
        }

        &::before {
            content: "";
            position: absolute;
            width: 9rem;
            height: 5px;
            left: 4.3125rem;
            top: 0;
            background: linear-gradient(45deg, $main);
        }

    }



        @include breakpoint-up(medium) {
            &__content {
                padding: 3rem;

                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 20.75rem;
                    left: -1px;
                    top: 3.125rem;
                    background: linear-gradient(45deg, $main);
                }
            }

            &__col-2 {
                background-image: url(/img/home/tablet/create-and-share.jpg);
                background-size: cover;
                background-position: center 40%;
                background-repeat: no-repeat;
            }
        }

        @include breakpoint-up(large) {
            &__content {
                padding: 2rem;

                &::before {
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 20.75rem;
                    left: -1px;
                    top: 3.125rem;
                    background: linear-gradient(45deg, $main);
                }

            }

            &__col-2 {
                background-image: url(/img/home/desktop/create-and-share.jpg);
                background-size: cover;
                background-position: center bottom;
                background-repeat: no-repeat;


            }
        }

        @include breakpoint-up(xlarge) {
            &__content {
                padding: 4rem;

                &::before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 20.75rem;
                    left: -1px;
                    top: 5.125rem;
                    background: linear-gradient(45deg, $main);
                   
                }
            }

            &__col-2 {
                background-image: url(/img/home/desktop/create-and-share.jpg);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        @include breakpoint-up(xxlarge) {
            &__content {
                padding: 11rem;

                >h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.5rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 29.75rem;
                    left: -1px;
                    top: 13.125rem;
                    background: linear-gradient(45deg, $main);
                }
            }

            &__col-2 {
                background-image: url(/img/home/desktop/create-and-share.jpg);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }




        @include breakpoint-down(small) {
            &__content {
                padding: 2rem 1rem;

                >h1 {
                    font-size: 2.1rem;
                }

                >p {
                    width: 101%;
                }
            }

            &__col-1 {
                order: 2;
            }

            &__col-2 {
                order: 1;
            }

        }

    }